<% sum = 0 %>
<% @clients.each do |client| %>
    <% if client.billing_start_date.year == 2014 %>
        <% calc = (((2015 * 12 + 1) - (client.billing_start_date.year * 12 + client.billing_start_date.month)) * client.price.cost) %>
        <% sum += calc %>
        <% calc %>
    <% end %>
<% end %>

<% sum2 = 0 %>
<% @clients.each do |client| %>
    <% if client.billing_start_date.year == 2015 %>
        <% calc = (((2016 * 12 + 1) - (client.billing_start_date.year * 12 + client.billing_start_date.month)) * client.price.cost) %>
        <% sum2 += calc %>
        <% calc %>
    <% end %>
<% end %>

<% sum3 = 0 %>
<% @clients.each do |client| %>
    <% if client.billing_start_date.year == 2014 %>
        <% calc = (client.price.cost * 12) %>
        <% sum3 += calc %>
        <% calc %>
    <% end %>
<% end %>

<div class="container">
<br>
<h1>Advantage Clients as of: <%= @now %></h1> 



<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>UPDATES: </strong> search is now case insensitive; results-per-page pull down works again; and default sort is by launch date!
</div>

<h4>2014 Clients: <%= Client.where("extract(year from launch_date) = ?", 2014).count %></h4>
<h4>2014 Revenue: $<%= sum %></h4>
<h4>Remaining Clients: <%= Client.where("extract(year from launch_date) = ?", 2015).count %></h4>
<h4>New Revenue in 2015: $<%= sum2 %></h4>
<h4>Total Revenue in 2015: $<%= (sum3 + sum2) %></h4>


  <div class="btn-group"><% if can? :new, @client %>
    <button type="button" class="btn btn-default btn">
      <%= link_to 'New Client', new_client_path %>
    </button><% end %>
    <button type="button" class="btn btn-default btn">
      <%= link_to "Export XLS", clients_path(format: "xls") %>
    </button>
  <br>
  </div>
</div>

<div class="container">
<table id="clients" class="table table-striped table-reponsive display" data-source="<%= clients_url(format: "json") %>">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Launch Date</th>
      <th>Price Per Month</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br>
<% if can? :new, @client %>
<%= link_to 'New Client', new_client_path %>
<% end %>
</div>


