<div class="container">
<h1>VES Clients</h1>

<div class="btn-group">
<button type="button" class="btn btn-default btn-xs"><%= link_to 'New Client', new_client_path %></button>
<button type="button" class="btn btn-default btn-xs"><%= link_to "CSV", clients_path(format: "csv") %></button>
<br>
</div>

<div class="table-responsive">
  <table class="table table-striped">
  <tr>
    <td>
      <div class="row">
        <div class="col-xs-5">
          <%= sortable "Name" %>
        </div>
        <div class="col-xs-7">
          Show/Edit/Delete
        </div>
      </div>
      </td>
    </tr>

      <% @clients.each do |client| %>
        <tr><td>
          <div class="row">
            <div class="col-xs-5"><%= link_to "#{client.name}", client %></div>
              <div class="btn-group text-right col-xs-7">
                <button type="button" class="btn btn-default btn-xs">
                  <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>' .html_safe, client %>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                  <%= link_to '<span class="glyphicon glyphicon-edit"></span>' .html_safe, edit_client_path(client) %>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                  <%= link_to '<span class="glyphicon glyphicon-trash"></span>' .html_safe, client, method: :delete, data: { confirm: 'Are you sure?' } %>
                </button>
              </div>
          </div>
          <div class="row">&nbsp;</div>
        </td></tr>
      <% end %>

  </table>
</div>
<br>

<%= link_to 'New Client', new_client_path %>
<br>
<%= link_to "CSV", clients_path(format: "csv") %>
</div>
