<% sum = 0 %>
<% @clients.each do |client| %>
    <% if client.launch_date? %>
        <% calc = (((2015 * 12 + 1) - (client.launch_date.year * 12 + client.launch_date.month)) * client.price.cost) %>
        <% sum += calc %>
        <% calc %>
    <% end %>
<% end %>

<div class="container">
<br>
<h1>Advantage Clients as of: <%= @now %></h1> 
<h4>2014 Clients: <%= Client.where("extract(year from launch_date) = ?", 2014).count %></h4>
<h4>2014 Revenue: $<%= sum %></h4>
<h4>Remaining Clients: <%= Client.where("extract(year from launch_date) = ?", 2015).count %></h4>






  <div class="btn-group"><% if can? :new, @client %>
    <button type="button" class="btn btn-default btn">
      <%= link_to 'New Client', new_client_path %>
    </button><% end %>
    <button type="button" class="btn btn-default btn">
      <%= link_to "Export XLS", clients_path(format: "xls") %>
    </button>
  <br>
  </div>
</div>

<div class="container">
<table id="clients" class="table table-striped table-reponsive display" data-source="<%= clients_url(format: "json") %>">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Launch Date</th>
      <th>Price Per Month</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br>
<% if can? :new, @client %>
<%= link_to 'New Client', new_client_path %>
<% end %>
</div>


