<h1>Listing clients</h1>

  <table class="table table-striped">
  <tr><td>
    <div class="row">
      <div class="col-xs-3">
        Name
      </div>
      <div class="col-xs-5">
        Show/Edit/Delete
      </div>
    </div>
    </td></tr>

      <% @clients.each do |client| %>
        <tr><td>
          <div class="row">
            <div class="col-xs-3"><%= link_to "#{client.name}", client %></div>
              <div class="btn-group col-xs-5">
                <button type="button" class="btn btn-default">
                  <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>' .html_safe, client %>
                </button>
                <button type="button" class="btn btn-default">
                  <%= link_to '<span class="glyphicon glyphicon-edit"></span>' .html_safe, edit_client_path(client) %>
                </button>
                <button type="button" class="btn btn-default">
                  <%= link_to '<span class="glyphicon glyphicon-trash"></span>' .html_safe, client, method: :delete, data: { confirm: 'Are you sure?' } %>
                </button>
              </div>
          </div>
          <div class="row">&nbsp;</div>
        </td></tr>
      <% end %>

  </table>
<br>

<%= link_to 'New Client', new_client_path %>
