<h1>Advantage Clients</h1>

<div class="btn-group">
<button type="button" class="btn btn-default btn-xs"><%= link_to 'New Client', new_client_path %></button>
<button type="button" class="btn btn-default btn-xs"><%= link_to "Export CSV", clients_path(format: "csv") %></button>
<button type="button" class="btn btn-default btn-xs"><%= link_to "Export XLS", clients_path(format: "xls") %></button>
<br>
</div>

  <table class="table table-striped table-reponsive">
  <tr class="row">
    <td>
        <div class="col-xs-4">
          <%= sortable "Name" %>
        </div>
        <div class="col-xs-8">
          Show/Edit/Delete
        </div>
      </td>
    </tr>

      <% @clients.each do |client| %>
        <tr class="row"><td>
            <div class="col-xs-4"><%= link_to "#{client.name}", client %></div>
              <div class="btn-group text-right col-xs-8">
                <button type="button" class="btn btn-default btn-xs">
                  <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>' .html_safe, client %>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                  <%= link_to '<span class="glyphicon glyphicon-edit"></span>' .html_safe, edit_client_path(client) %>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                  <%= link_to '<span class="glyphicon glyphicon-trash"></span>' .html_safe, client, method: :delete, data: { confirm: 'Are you sure?' } %>
                </button>
              </div>
        </td></tr>
      <% end %>

  </table>

<br>

<%= link_to 'New Client', new_client_path %>
<br>
<%= link_to "CSV", clients_path(format: "csv") %>

