<h1>Listing clients</h1>

  <div class="row">
    <div class="col-md-3">
      Name
    </div>
    <div class="col-md-1 visible-lg">
      Division
    </div>
    <div class="col-md-1 visible-lg">
      Region
    </div>
  </div>
    <% @clients.each do |client| %>
      <div class="row">
        <div class="col-md-3"><%= link_to "#{client.name}", client %></div>
        <div class="col-md-1 visible-lg"><%= client.division %></div>
        <div class="col-md-1 visible-lg"><%= client.region %></div>
        <div class="btn-group col-md-3">
          <button type="button" class="btn btn-default">
            <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>' .html_safe, client %>
          </button>
          <button type="button" class="btn btn-default">
            <%= link_to '<span class="glyphicon glyphicon-edit"></span>' .html_safe, edit_client_path(client) %>
          </button>
          <button type="button" class="btn btn-default">
            <%= link_to '<span class="glyphicon glyphicon-trash"></span>' .html_safe, client, method: :delete, data: { confirm: 'Are you sure?' } %>
          </button>
        </div>
      </div>
    <% end %>

<br>

<%= link_to 'New Client', new_client_path %>
