<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Launch Date:</strong>
  <%= @client.launch_date %>
</p>

<p>
  <strong>Division:</strong>
  <%= @client.division.name %>
</p>

<p>
  <strong>Internal?:</strong>
  <%= @client.internal %>
</p>

<p>
  <strong>Price:</strong>
  <%= @client.price.name  %> at $<%= @client.price.cost %> per month
</p>

<p>
  <strong>Region:</strong>
  <%= @client.region %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
