<div class="containter">
<h1>Advantage Prices</h1>


<table class="table table-striped table-responsive">
    <tr class="row">
    <td>
        <div class="col-xs-3">
          Price Name
        </div>
        <div class="col-xs-2">
          Cost Per Month
        </div>
        <div class="col-xs-7">
          Show
          <% if can? :edit, @client %>
          /Edit/Delete
          <% end %>
        </div>
      </td>
    </tr>

    <% @prices.each do |price| %>
        <tr class="row"><td>
            <div class="col-xs-3"><%= link_to "#{price.name}", price %></div>
            <div class="col-xs-2">
              $<%= price.cost %>
            </div>
              <div class="btn-group text-right col-xs-7">
                <button type="button" class="btn btn-default btn-xs">
                  <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>' .html_safe, price %>
                </button>
                <% if can? :edit, @client %>
                <button type="button" class="btn btn-default btn-xs">
                  <%= link_to '<span class="glyphicon glyphicon-edit"></span>' .html_safe, edit_price_path(price) %>
                </button>
                <% end %>
                <% if can? :destroy, @client %>
                <button type="button" class="btn btn-default btn-xs">
                  <%= link_to '<span class="glyphicon glyphicon-trash"></span>' .html_safe, price, method: :delete, data: { confirm: 'Are you sure?' } %>
                </button>
                <% end %>
              </div>
        </td></tr>
      <% end %>

</table>


<br>
<% if can? :new, @price %>
<%= link_to 'New Price', new_price_path %>
<% end %>
</div>
